<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>Angular Day Workshop</title>
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
		<link rel="stylesheet" href="styles/main.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
		<script src="scripts/main.js"></script>

	</head>

	<body class="container">

		<div ng-controller="personController">

			<input ng-model='firstName'>{{firstName}}</input>
			<input ng-model='lastName'>{{lastName}}</input>

			<p><button ng-click="cool = true">Cool Me</button>

			<span ng-show="cool">Coolio!</span></p>

			
			<input ng-model="people[0].name">
			<hr/>
			
			<ul>
				<li ng-repeat="person in people | orderBy: '+name'">{{person.name | uppercase | isCool}}</li>
			</ul>

		</div>

	</body>
</html>